//  --------------------  //
//    /* CART PAGE */     //
//   Dedicated to cart    //
//  --------------------  //

/* Cart style */

.containerCart {
    &__listBox {
        @include box;
        height: unset;
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.listTeddies {
    &__eachTeddy {
        &--price {
            margin-right: 0.5em;
        }
    }
}

.containerContact {
    @include box;
    height: unset;
    margin-left: 1em;
    margin-right: 1em;
    &__form {
        text-align: center;
        &--firstName {
            margin-top: 1em;
        }
    }
    &__form button {
        background-color: #db2777;
        border-color: #db2777;
        margin-top: 1em;
    }
}