//  --------------------  //
//  /* HOMEPAGE MENU */   //
// Dedicated to HP style  //
//  --------------------  //

/* Homepage / Teddies Overview */

.main {
    &__teddies {
        &--heading {
            text-align: center;
        }
        &--choose {
            text-align: center;
            margin-bottom: 1em;
        }
    }
}

.containerTeddies {
    &__boxes {
        @include box;
        margin-left: 1em;
        margin-right: 1em;
        &--img {
            height: 100%;
            width: 50%;
            object-fit: cover;
            float: left;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-right: 1em;
        }
        &--name {
            font-weight: bold;
            margin-bottom: 0.2em;
        }
        &--price {
            font-size: 1.3em;
            margin-bottom: unset;
            font-weight: bold;
        }
        &--fullstars {
            @include colorFullStar;
            font-size: 1.5em;
            margin-bottom: 0.2em;
        }
        &--emptystars {
            @include colorEmptyStar;
        }
        &--btn {
            margin-top: 1em;
            background-color: $color-btn;
            color: $color-white;
            font-size: 1.2em;
        }
    }
}