//  --------------------  //
//  /* PRODUCT PAGE */    //
// Dedicated to products  //
//  --------------------  //

/* Product style */

.heading {
    &__logo {
        text-align: center;
    }
    &__sublogo {
        text-align: center;
        margin-bottom: 1em;
    }
}

.containerProduct {
    &__boxes a {
        @include normalizeText;
    }
    &__boxes {
        @include box;
        margin-left: 1em;
        margin-right: 1em;
        &--img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
            float: left;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-right: 1em;
        }
        &--name {
            font-weight: bold;
            margin-top: 0.2em;
        }
        &--price {
            font-size: 1.3em;
        }
        &--fullstars {
            @include colorFullStar;
            font-size: 1.5em;
        }
        &--emptystars {
            @include colorEmptyStar;
        }
        &--color {
            margin-top: 0.4em;
            margin-bottom: 0.4em;
        }
        &--color label {
            margin-bottom: 0.5em;
        }
        &--color select {
            padding: 5px;
            margin: 10px;
            border-radius: 10px; 
        }
        &--btn button {
            margin-top: 1em;
            background-color: $color-btn;
            color: $color-white;
            font-size: 1.2em;
        }
    }
}