//  --------------------  //
//  /* PRODUCT PAGE */    //
// Dedicated to products  //
//  --------------------  //

/* Product style */

.heading {
    &__logo {
        text-align: center;
    }
    &__sublogo {
        text-align: center;
        margin-bottom: 1em;
        @media screen and (max-width: 440px) {
            font-size: 1.3em;
        }
        @media screen and (max-width: 340px) {
            font-size: 1em;
        }
    }
}

.containerProduct {
    &__boxes a {
        @include normalizeText;
    }
    &__boxes {
        @include box;
        margin-left: 1em;
        margin-right: 1em;
        @media screen and (max-width: 640px) {
            font-size: 0.8em;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.9em;
        }
        @media screen and (max-width: 768px) {
            height: 23em;
        }
        @media screen and (max-width: 430px) {
            height: 24em;
            font-size: 0.7em;
        }
        @media screen and (max-width: 340px) {
            font-size: 0.6em;
        }
        @media screen and (min-width: 1400px) {
            margin: 0 15vw;
            font-size: 1.4rem;
        }
        @media screen and (min-width: 2200px) {
            margin: 0 20vw;
            font-size: 1.5rem;
        }
        @media screen and (min-width: 2560px) {
            margin: 0 25vw;
            font-size: 1.6rem;
        }
        &--img {
            height: 100%;
            max-width: 50%;
            object-fit: cover;
            float: left;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-right: 1em;
        }
        &--name {
            font-weight: bold;
            margin-top: 0.2em;
            @media screen and (max-width: 425px) {
                font-size: 1.6em;
            }
            @media screen and (min-width: 1400px) {
                font-size: 2.4rem;
            }
            @media screen and (min-width: 2200px) {
                font-size: 2.6rem;
            }
            @media screen and (min-width: 2560px) {
                font-size: 2.8rem;
            }
        }
        &--price {
            font-size: 1.3em;
            font-weight: bold;
            @media screen and (max-width: 625px) {
                margin-bottom: 0.3em;
            }
        }
        &--fullstars {
            @include colorFullStar;
            font-size: 1.5em;
        }
        &--emptystars {
            @include colorEmptyStar;
        }
        &--color {
            margin-top: 0.4em;
            margin-bottom: 0.4em;
        }
        &--color label {
            margin-bottom: 0.5em;
        }
        &--color select {
            padding: 5px;
            margin: 10px;
            border-radius: 10px; 
        }
        select.form-control {
            @media screen and (max-width: 555px) {
                width: 16%;
                padding: .275rem .55rem;
                font-size: 0.7rem;
                line-height: 1.2;
            }
        }
        button {
            margin-top: 2em;
            background-color: $color-btn;
            color: $color-white;
            font-size: 1.2em;
            @media screen and (max-width: 640px) {
                font-size: 1em;
            }
            @media screen and (max-width: 545px) {
                font-size: 0.85em;
            }
            @media screen and (max-width: 485px) {
                font-size: 0.7em;
            }
        }
    }
}


.form-control {
    width: 20%;
}