// ------------------------  //
//      /* GLOBAL */         //
// Dedicated to global style //
// ------------------------  //


/* --- GLOBAL --- */ 

* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
}