// -----------------------  //
//    /* VARIABLES */       //
//  Dedicated to variables  //
// -----------------------  //


/* --- COLOR VARIABLES --- */ 

/* Main colors */ 

$color-primary: #e7d2e0;
$color-secondary: #ee7130;
$color-tertiary: #925df5;

$color-btn: #db2777;

$color-anchor: #000;

$color-white: #FFF;

$color-bs: rgb(217, 217, 217);